name: clean up workflows
on:
  workflow_dispatch:
jobs:
  delete_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: dmvict/clean-workflow-runs@v1.0.0
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          run_conclusions: completed
          save_period: 3
          save_min_runs_number: 3
